// form全般のscss

form {
  margin-bottom: 1rem;
}

fieldset {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

label {
  color: #808080;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

input {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: solid 0.01rem rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
}
input.error {
  border-color: red;
}

.error-message {
  color: red;
  height: 0.8rem;
  font-size: 0.8rem;
}

span.icon {
  vertical-align: middle;
  font-size: 1.5em;
}

div.form-btn-container {
  display: flex;
  justify-content: space-around;
}
