button {
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fill {
  color: white;
  background-color: black;
  > .loading {
    border: 0.25rem solid rgba(255, 255, 255, 0.2);
    border-top-color: rgb(255, 255, 255);
  }
}
.outline,
.none {
  color: black;
  background-color: white;
  > .loading {
    border: 0.25rem solid rgba(0, 0, 0, 0.8);
    border-top-color: rgba(0, 0, 0, 0.2);
  }
}
.outline {
  border: 1px solid black;
}
.none {
  border: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  animation: spin 1s infinite linear;
}
